
<div class="container-fluid text-center bg-grey">
  <br>

  <h4>Here is what we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://www.acrobatremovals.com/wp-content/uploads/2015/03/o-save-money-facebook.jpg" alt="Paris">
        <p><strong>Need to start Saving?</strong></p>
        <p>Our bank can help to reach your goal sooner</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://www.chill.ie/images/insurance-news/large/travelling-this-summer-l.jpg" alt="New York">
        <p><strong>Travelling Soon?</strong></p>
        <p>Get a travel money card</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="https://www.achieveunite.com/wp-content/uploads/2017/06/Business-Ready.jpg" alt="San Francisco">
        <p><strong>Getting Buisness ready?</strong></p>
        <p>Quick tips on how we can help you manage our buisness</p>
      </div>
    </div>
</div>

<h2>What our customers say</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"This bank is the best. I am so happy with the service!"<br><span style="font-style:normal;">Michael Roe</span></h4>
    </div>
    <div class="item">
      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
    </div>
    <div class="item">
      <h4>"Could I... BE any more happy with the service they offer?"<br><span style="font-style:normal;">Joe</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
