<h2>All Accounts</h2>

<ul>
  <% @accounts.each do |account| %>

    <li>
      <em><%= link_to account.accountnumber, account_path( account ) %></em>

      , <%= account.account_type %>
    </li>

  <% end %>
</ul>
